{%- macro forinlist(jobs) -%}
    {%- for job in jobs -%}
        {{ job.name }}
    {%- endfor -%}
{%- endmacro -%}

{%- macro for_2(synset, expr) -%}
    {%- for c in synset.get_sample(expr).cluster -%}
        {{ c }}
    {%- endfor -%}
{%- endmacro -%}