{% macro join_filter_default() -%}
    {{ ['a', 'b', 'c']|join }}
{%- endmacro %}

{% macro join_filter_comma() -%}
    {{ ['a', 'b', 'c']|join(',') }}
{%- endmacro %}

{% macro join_filter_var_arg(separator) -%}
    {{ ['a', 'b', 'c']|join(separator) }}
{%- endmacro %}

{% macro join_filter_array_arg(separators, index) -%}
    {{ ['a', 'b', 'c']|join(separators[index]) }}
{%- endmacro %}

{% macro join_filter_complex_arg(config, type) -%}
    {{ ['a', 'b', 'c']|join(config.separator[type].value) }}
{%- endmacro %}

{%- macro join_filter_expr_arg(a, b) -%}
    {{ ['a', 'b']|join(a + b) }}
{%- endmacro -%}

{% macro join_filter(value, separator) -%}
    {{ value|join(separator) }}
{%- endmacro %}
