{%- macro func_ret_dict(get_sample, expr) -%}
    {{ get_sample(expr).cluster }}
{%- endmacro -%}

{%- macro func_ret_dict2(synset, expr) -%}
    {{ synset.get_sample(expr).cluster }}
{%- endmacro -%}
